asm-differ/__pycache__/*
baserom.eva.z64
#asm/nonmatchings/code_*/*.s
bin/*
build/*
expected/*
.splat_cache
asm/.splat_cache
tools/__pycache__/*
tools/slienc
tools/n64crc
tools/_gfxdis
tools/rgb2c
tools/gcc_kmc
tools/splat_ext/__pycache__/*

*.z64
*.n64
assets/*
